@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

canvas {
    border: 2px solid black;
}

.toolbox{
    background-color: slategray;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 804px;
    padding: 1rem;
}

.toolbox > * { /**/
    background-color: white;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 1rem;
    cursor: pointer;
}

#clear {
    margin-left: auto;
}


.toolbox input {
    visibility: hidden;
}

.toolbox label {
    background-color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transform: scale();
    border: 1px solid white;
    margin-left: 185px;
    
}