@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.carousel {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    height: 530px;
    width: 500px;
    overflow: hidden;
}

.img-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: black;
    color: white;
    width: 49.8%;
    border: none;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:focus {
    outline: none;
}